<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Complete</title>
    <link rel="stylesheet" href="/static/styles/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container-sm back-transparent">
        <div class="row back-transparent justify-content-center align-items-center mt-4 mb-0 text-center">
            <div class="col-12 col-md-7 border rounded ps-3 pt-2 pb-4 mt-3 mb-3">
                <h1 class="fs-3 pt-3 p-3 text-success"> <strong>Welcome To the Dashboard </strong> </h1>
                <!-- <img src="/static/images/successful.gif" alt=" processing payment" /> -->

                </ol>
                <button type="submit" class="btn btn-success fs-6 mb-2"><a href="/dashboard" class="text-white fs-6 btn-link" >Access Your Account</a></button>
                <h3 class="fs-5 pt-3 pb-3"> Redirects in</h3>
                <button type=" " class="btn btn-outline fs-6 mb-5 text-black btn-link"><span>5</span> Seconds</button>

            </div>
        </div>
    </div>

    





<!-- Scripts -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script src="static/js/index.js"></script>



</body>
</html>