<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Methods</title>
    <link rel="stylesheet" href="/static/styles/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">

</head>
<body>

    <section id="failed" class=" back-transparent">
        <div class="container-sm ">
            <div class="row  justify-content-center align-items-center mt-4 mb-0 text-center">
                <div class="content-col col-12 col-md-7 border rounded ps-3 pt-2 pb-4 mt-3 mb-3">
                    <h1 class="fs-3 pt-3 p-3 text-warning"> <strong>Payment <span id="type"> <%= type %> </span> </strong> </h1>
                    <img src="/static/images/failed.gif" alt=" processing payment" />
                    <h2 class="fs-5 pb-3 text-warning"><span id="heading"> <%= heading %> </span>  </h2>
                    <p reason class="fs-6 ps-5 pe-5 pb-5" id="desc"> <%= desc %> </p>
                    <h3 class="fs-5 pt-3 pb-3"> Redirects in<span id="count" class="text-warning"> 10 </span> Seconds</h3>
                    <button type="submit" class="btn btn-success fs-6 mb-2"><a href="/" class="text-white fs-6 btn-link" >Try Again</a></button>
                </div>
            </div>
        </div>
    </section>   
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
<script src="static/js/index.js"></script>


</html>